#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* src/styles/App.css */  
.app {  
  max-width: 600px;  
  margin: auto;  
  padding: 20px;  
  font-family: Arial, sans-serif;  
  background-color: #ffffff;  
}  

.app h1 {  
  text-align: center;  
  margin-bottom: 20px;  
  font-size: 2rem;  
}  

@media (max-width: 600px) {  
  .app {  
      padding: 10px;  
  }  

  .app h1 {  
      font-size: 1.5rem;  
  }  
}